<!DOCTYPE html>
<html>
  <head>
    <title>Movie Review Central</title>
  </head>
  <body>
    <h1>Movie Review Central</h1>
    <ul>
      <li>
        <a href="/reviews/twilight">The Twilight Zone (1985)</a>
      </li>
      <li>
        <a href="/reviews/logans">Logan's Run</a>
      </li>
    </ul>
  </body>
</html>